.detail-page-container {
  height: auto;
  padding: 100px 200px 100px 200px;
}

.detail-container {
  height: auto;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 60px;
}

.poster-section {
  height: 750px;
  width: 50%;
  min-width: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.info-section {
  padding: 5px;
  width: 50%;
  min-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-title {
  h2 {
    margin: 0;
    font-size: 48px;
  }
  span {
    color: rgb(157, 155, 155);
    font-size: 16px;
  }
}

.details-rate {
  display: flex;
  gap: 10px;
}

.details-review {
  padding: 10px;
}

.overview-box {
  padding: 10px 0 0 0;
  border-top: 1px solid rgb(139, 139, 139);
  border-bottom: 1px solid rgb(139, 139, 139);
}

.trailer-btn {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.review-btn-box {
  display: flex;
  gap: 10px;
}

.overview-box {
  overflow: hidden; /* 넘치는 텍스트는 숨김 처리 */
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .detail-page-container {
    padding: 100px 0px;
  }
}

@media (max-width: 1000px) {
  .detail-page-container {
    padding: 100px 0px;
  }
  .overview-box {
    font-size: 20px;
  }

  .detail-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poster-section {
    background-size: cover;
    width: 90%;
    height: 550px;
  }
  .info-section {
    width: 100%;
  }
}

@media (max-width: 464px) {
  .detail-page-container {
    padding: 100px 0px;
  }
  .overview-box {
    font-size: 20px;
  }

  .detail-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poster-section {
    background-size: cover;
    width: 100%;
    height: 350px;
  }
  .info-section {
    width: 100%;
  }
}
