.detail-page-container {
  height: auto;
  padding: 100px 200px 100px 200px;
}

.detail-container {
  height: auto;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 60px;
}

.poster-section {
  height: 750px;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-section {
  padding: 5px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-title {
  h2 {
    margin: 0;
    font-size: 48px;
  }
  span {
    color: rgb(157, 155, 155);
    font-size: 16px;
  }
}

.details-rate {
  display: flex;
  gap: 10px;
}

.details-review {
  padding: 10px;
}

.overview-box {
  padding: 10px 0 0 0;
  border-top: 1px solid rgb(139, 139, 139);
  border-bottom: 1px solid rgb(139, 139, 139);
}

.trailer-btn {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
