.movie-card {
  width: 210px;
  height: 290px;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 8%;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color: white;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 20px;
  padding-top: 45px;
  border-radius: 8%;

  h3 {
    margin: 0;
  }
}

.overlay:hover {
  opacity: 1;
  border-radius: 10%;
}

.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
  border-radius: 10%;
}
