.search-page-container {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
}

.movie-contents {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movie-card-list {
  min-height: 600px;
  width: 110%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  h5 {
    margin-top: 140px;
  }
}

.movie-sortTab {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 37px;
}

#dropdown-item-button {
  width: 150px !important;
}
