.search-page-container {
  padding-top: 100px;
  display: flex;
}

.movie-contents {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movie-card-list {
  width: 110%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-sortTab {
  width: 100%;
  display: flex;
  gap: 10px;
}

#dropdown-item-button {
  width: 150px !important;
}
